  
.add-recipe-social-top {
    background-color: #fafafa;
    min-height: 45px;
    padding: 0.7rem ;
}

.add-recipe-social-top i{
    padding-right: 1rem; 
    padding-left: 1rem;
    font-size: 1.5rem;
}

.nav-wrapper > .brand-logo {
    padding-left: 10px;
}

.menu-search{
    width: 40%;
    margin: 0 auto;
    padding: 1rem ;
}
nav .input-field .search-icon{
    top: -1.8rem;
    left: 0.8rem;
}
.input-field .search-icon-mobile{
    top: 0rem;
    left: 0.8rem;
}

.menu-search-med{
    width: 60%;
    margin-left: 1rem;
    padding: 0.2rem ;
}
.menu-search-med i{
    padding-top: 0rem;
}
.menu-search-med >.input-field{
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uppercase {
    text-transform: uppercase;
}
.div-menu-med ul li{
  display: inline;
}
.div-menu-med a{
    padding-right: 1rem; 
}
.div-menu-med i{
    padding-right: 1rem; 
    padding-left: 1rem;
    font-size: 1.2rem;
}

/*  change slider indicator color*/
.slider .indicators .indicator-item.active {
  background-color: #ff9800;
}
/* italic class */
.italic {
    font-style: italic;
}
.flashes h4 {
    line-height: 2;
}
/* padding 20px */
.padding10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.strong{
   font-weight: bold; 
}
.card-category {
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 100%;
  padding: 0.4rem;
  border-radius: 5px;
}
.card-cate {
  margin-left: 0.3rem;  
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
}

.margin-botton-0{
    margin-bottom: 0;
}
.card-panel .margin-botton-0{
    margin-bottom: 0;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.card .card-image .index-card-title {
    font-size: 1rem;
    font-weight: 600;
}

.edit-del-btn {
    margin: 5px;
}
.footer-social-icons {
    background-color: #fafafa;
    font-size: 1.2rem;
    margin: 2px;
    padding: 0.5rem;
    border-radius: 50%;
}
.social-icons-list li{
    display: inline;
}

/* card images same height*/
.box {
  position: relative;
  z-index: 1;

}
.box:before {
  content: "";
  display: block;
  padding-top: 80%;

}

.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgb(90, 89, 89);
  z-index: -1;
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 60%;
  position: absolute;
  z-index: -2;
}
