  
.add-recipe-social-top {
    background-color: #fafafa;
    min-height: 45px;
    padding: 0.7rem ;
}

.add-recipe-social-top i{
    padding-right: 1rem; 
    padding-left: 1rem;
    font-size: 1.5rem;
}

.nav-wrapper > .brand-logo {
    padding-left: 10px;
}

.menu-search{
    width: 40%;
    margin: 0 auto;
    padding: 1rem ;
}
nav .input-field .search-icon{
    top: -1rem;
}

.menu-search-med{
    width: 60%;
    margin-left: 1rem;
    padding: 0.2rem ;
}
.menu-search-med i{
    padding-top: 0.7rem;
}
.menu-search-med >.input-field{
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uppercase {
    text-transform: uppercase;
}
.div-menu-med ul li{
  display: inline;
}
.div-menu-med a{
    padding-right: 1rem; 
}
.div-menu-med i{
    padding-right: 1rem; 
    padding-left: 1rem;
    font-size: 1.2rem;
}

/*  change slider indicator color*/
.slider .indicators .indicator-item.active {
  background-color: #ff9800;
}
/* italic class */
.italic {
    font-style: italic;
}
.flashes h4 {
    line-height: 2;
}
/* padding 20px */
.padding10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.strong{
   font-weight: bold; 
}