<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyama Cuisine: Recipes, Menus, Cooking Tips</title>
    <!-- CSS  -->
    <script src="https://kit.fontawesome.com/cad7eb3bd7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <!-- header -->
    <header>
        <div class="add-recipe-social-top hide-on-med-and-down">
            <div class="col right">
                <a class="grey-text text-darken-4" href="{{url_for('suggest_recipe')}}"><i class="fas fa-drumstick-bite"></i>Suggest a Recipe</a>
                <a class="grey-text text-darken-4" href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i> MY ACCOUNT</a>
                <a href="https://www.youtube.com/" target="_blank"><i class="red-text darken-2 fab fa-youtube-square youtube"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="blue-text darken-2 fab fa-facebook-square facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="purple-text lighten-4 fab fa-instagram-square instagram"></i></a>
                <a href="https://www.pinterest.com/" target="_blank"><i class="red-text darken-4 fab fa-pinterest-square pinterest"></i></a>
            </div>
        </div>
        <!-- top navbar -->

        <nav class="black">
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo">Nyama Cuisine</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down uppercase">
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Boutique</a></li>
                </ul>
                <form action="{{ url_for('search') }}" method="POST" class="menu-search hide-on-med-and-down">
                    <div class="input-field ">
                       <label for="query" class="label-icon search-icon"><i class="fas fa-search grey-text darken-4 search-icon"></i></label>
                        <input type="search" name="query" minlength="3" class="validate search white grey-text darken-2" placeholder="search" required>
                    </div>
                </form>
            </div>
        </nav>
                <!-- mobile sidenav -->
                <ul id="mobile-demo" class="sidenav uppercase">
                    <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Boutique</a></li>
                </ul> 
            
            <div class="grey lighten-3 div-menu-med nav-wrapper hide-on-large-only ">
                <ul class="right uppercase inline">
                    <li class="inline"><a class="grey-text text-darken-4" href="{{url_for('suggest_recipe')}}"><i class="fas fa-drumstick-bite"></i><span class="hide-on-med-and-down">Suggest a Recipe</span></a></li>
                    <li><a class="grey-text text-darken-4" href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i> <span class="hide-on-med-and-down">MY ACCOUNT</span></a></li>
                </ul>
                <form action="{{ url_for('search') }}" method="POST" class="menu-search-med">
                    <div class="input-field ">
                       <label for="query" class="label-icon search-icon"><i class="fas fa-search grey-text darken-4 search-icon"></i></label>
                        <input type="search" name="query" minlength="3" class="validate search white grey-text darken-2" placeholder="search" required>
                    </div>
                </form>
            </div>
    </header>
     <section>
        <!--flash messages -->
        {% with messages =get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes caption">
                        <h4 class="orange lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- main page -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- footer -->
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                        it's
                        our full time job. Any amount would help support and continue development on this project and is
                        greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="">Materialize</a>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/script.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>