    {% extends "base.html" %}
    {% block content %}
    <section>
        <div class="container">
            <br><br>
            <h3 class="header center orange-text text-darken-1">Edit recipe</h3>
            <br>
            <div class="row">
                <form class="col s12 m10 offset-m1" method="POST" enctype="multipart/form-data" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                    <div class="card-panel">
                        <!-- Recipe name -->
                        <div class="row">
                            <h5 class="center padding10 grey darken-2 margin-bottom10 white-text">Recipe name</h5>
                            <div class="input-field col s12">
                                <i class="fas fa-bread-slice prefix grey-text text-darken-2"></i>
                                <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" type="text" minlength="5" maxlength="60" class="validate" required>
                                <label for="recipe_name">Recipe name</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- yields -->
                            <div class="input-field col s8 m4">
                                <i class="fas fa-users prefix grey-text text-darken-2"></i>
                                <input id="serving" name="serving" value="{{ recipe.serving }}" type="text" pattern="^[0-9]{1,3}$" minlength="1" maxlength="3" placeholder="ex: 6" class="validate" required>
                                <label for="serving">servings</label>
                            </div>
                            <div class="input-field prefix col s4 m2">
                                <p>Servings</p>
                            </div>
                            <!-- upload image -->
                                <div class="file-field input-field col s12 m6">
                                    <i class="fas fa-camera center prefix grey-text text-darken-2"></i>
                                    <div class="btn-large transparent">
                                        <input type="file" name="inputFile" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" value="{{ recipe.inputFile }}"  type="text" placeholder="Upload a photo">
                                    </div>
                                </div>
                        </div>
                        <!-- time -->
                        <div class="row">
                            <h5 class="center green padding10 grey darken-2 margin-bottom10 white-text">Time</h5>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 l4">
                                <i class="far fa-clock prefix grey-text text-darken-2"></i>
                                <input id="prep_time" value="{{ recipe.time[0].prep_time }}" name="prep_time" type="number" min="0" max="1500" class="validate" required>
                                <label for="prep_time">preparation time</label>
                            </div>
                            <div class="input-field prefix col s4 l2">
                                <p>Minutes</p>
                            </div>
                            <div class="input-field col s8 l4">
                                <i class="fas fa-fire-alt prefix grey-text text-darken-2"></i>
                                <input id="cooking_time" name="cooking_time" value="{{ recipe.time[1].cooking_time }}" type="number" min="0" max="1500" class="validate" required>
                                <label for="cooking_time">cooking time</label>
                            </div>
                            <div class="input-field prefix col s4 l2">
                                <p>Minutes</p>
                            </div>
                        </div>
                        <!-- categories -->
                        <div class="row">
                            <h5 class="center green padding10 grey darken-2 margin-bottom10 white-text">Category</h5>
                            <div class="input-field col s12">
                                <i class="fas fa-folder-open prefix grey-text text-darken-2"></i>
                                <select id="category_name" name="category_name" class="validate" required>
                                    <option value="" disabled selected>Categories</option>
                                    {% for category in categories %}
                                        {% if category.category_name == recipe.category_name %}
                                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                        {% else %}
                                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="category_name">Category</label>
                            </div>
                        </div>
                        <!-- cuisines -->
                        <div class="row">
                            <h5 class="center green padding10 grey darken-2 margin-bottom10 white-text">Cuisine</h5>
                            <div class="input-field col s12">
                                <i class="fas fa-utensils prefix grey-text text-darken-2"></i>
                                <select id="cuisine_name" name="cuisine_name" class="validate" required>
                                    <option value="" disabled selected>Cuisines</option>
                                    {% for cuisine in cuisines %}
                                        {% if cuisine.cuisine_name == recipe.cuisine_name %}
                                        <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name}}</option> 
                                        {% else %}
                                        <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name}}</option> 
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <label for="cuisine_name">Cuisine</label>
                            </div>
                        </div>
                        <!-- Ingredients -->
                        <div id="ingredientList">
                            <div class="row fieldGroup1">
                                <h5 class="center padding10 grey darken-2 margin-bottom10 white-text">Ingredients</h5>
                                <div class="input-field col s6 l2">
                                    <input value="" name="quantity" type="text" placeholder="ex: 3" maxlength="5" class="validate">
                                    <label for="quantity">Quantity </label>
                                </div>

                                <div class="input-field col s6 l3">
                                    <select name="unit" class="validate unit">
                                        <option value="" selected>Units</option>
                                        {% for unit in units %}
                                        <option value="{{ unit.unit }}">{{ unit.unit}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="unit">Units</label>
                                </div>
                                <div class="input-field col s9 l5">
                                    <i class="fas fa-carrot prefix grey-text text-darken-2"></i>
                                    <input id="ingredient1" name="ingredients" type="text" placeholder="Ingredient" class="validate"
                                        required>
                                    <label for="ingredients">ingredients </label>
                                </div>
                                <div id="" class="btn green darken-2 col s2 addIngredient"><i class="fas fa-plus"></i></div>
                            </div>
                        </div>
                        
                        <!-- copy of fieldGroup -->
                        <div class="row fieldGroupCopy" style="display: none;"></div>
                        
                         
                     <!---->  
                        <!-- preparation -->
                        <div id="stepList" class="press">
                                <div class="row fieldGroup">
                                <h5 class="center padding10 grey darken-2 margin-bottom10 white-text">Preparation</h5>
                                <div class="input-field col s9">
                                    <i class="fas fa-book-reader prefix grey-text text-darken-2"></i>
                                    <textarea id="step1" name="steps" minlength="6" maxlength="300" placeholder="preparation step" class="validate materialize-textarea" required></textarea>
                                    <label for="steps">steps </label>
                                </div>
                            </div>
                        </div>
                        <div id="addStep" class="btn green darken-2">add a step</div>
                        <!-- notes -->
                        <div id="noteList">
                            <div class="row fieldGroup">
                                <h5 class="center padding10 grey darken-2 margin-bottom10 white-text">Notes</h5>
                                    <!--to do-->
                                    <div class="input-field col s9">
                                        <i class="fas fa-comment-dots prefix grey-text text-darken-2"></i>
                                        <textarea id="note1" name="notes" minlength="8" maxlength="300" placeholder="note" class="validate materialize-textarea"></textarea>
                                        <label for="notes">notes </label>
                                    </div>
                            </div>
                        </div>
                        <div id="addNote" class="btn green darken-2">add a note</div>
                        <br><br>

                        <!-- Suggest -->
                        <div class="row">
                            <button type="submit" class="col s5 btn-large orange darken-3">
                                Suggest <i class="fas fa-paper-plane"></i>
                            </button>
                            <a href="{{ url_for('index') }}" class="col s5 offset-s2 btn-large black-text grey lighten-2">
                                Cancel <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
        {% block scripts %}
        <script>
            var loadFile = function (event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function () {
                    URL.revokeObjectURL(output.src)
                }
            };

        
    
        </script>
        <script>

 //ingredients group add limit
       
          var fieldGroupCopy =`<div class="input-field col s6 l2">
                                <input value="" name="quantity" type="text" placeholder="ex: 3" maxlength="5"
                                    class="validate" >
                            </div>
                            <div class="input-field col s6 l3 ">
                                    <select  name="unit" class="browser-default validate unit" >
                                        <option value="" disabled selected >Units</option>
                                        {% for unit in units %}
                                            <option  value="{{unit.unit}}">{{unit.unit}}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                            </div>
                            <div class="input-field col s9 l5">
                                <i class="fas fa-carrot prefix grey-text text-darken-2"></i>
                                <input id="ingredient${i}" name="ingredients" type="text" placeholder="Ingredient"
                                    class="validate" required>
                            </div>
                            <br>
                            <div class="btn red remove col s2"><i class="fas fa-minus"></i></div>`;
        
        var i = 0;
        var maxGroup = 25;
        $(".addIngredient").click(function(){
            if($('body').find('.fieldGroup1').length < maxGroup){
                var fieldHTML = '<div class="row fieldGroup1">'+fieldGroupCopy+'</div>';
                $('body').find('.fieldGroup1:last').after(fieldHTML);
                i++;
            }
            });

        </script>
        {% endblock %}
    {% endblock %}