    {% extends "base.html" %}
    {% block content %}
    <section>
        <div class="container">
            <h3 class="header center orange-text">Log In</h3>
            <br>
            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
                    <div class="card-panel">
                        <!-- Username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-plus prefix grey-text text-darken-2"></i>
                                <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        
                        <!-- Password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-lock prefix grey-text text-darken-2"></i>
                                <input id="password" name="password" type="password" minlength="5" maxlength="15"
                                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- Login -->
                        <div class="row">
                            <button type="submit" class="col s5 btn-large orange darken-3">
                                Login <i class="fas fa-sign-in-alt"></i>
                            </button>
                            <a href="{{ url_for('index') }}" class="col s5 offset-s2 btn-large black-text grey lighten-2">
                                Cancel <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        New here?
                        <a href="{{ url_for('register') }}" class="orange-text text-darken-3 italic">Register Account</a>
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}