    {% extends "base.html" %}
    {% block content %}
    <section>
        <div class="container">
            <br><br>
            <h3 class="header center grey-text text-darken-2">All recipes</h3>
            <br>
                {% if recipes|length > 0 %}
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col s12 m6">
                            <a class="grey-text text-darken-4" href="{{ url_for('recipes') }}">
                                <div class="card my-medium">
                                    <div class="card-image">
                                        <img src="{{ url_for('static', filename='images/'+recipe.inputFile) }}">
                                        <span class="card-title card-category">{{recipe.category_name}}</span>
                                    </div>
                                    <div class="card-content">
                                        <h6>{{ recipe.recipe_name }}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </section>

    {% endblock %}