    {% extends "base.html" %}
    {% block content %}
    <section>
        <div class="container">
            <br><br>
            <h3 class="header center grey-text text-darken-3">All recipes</h3>
            <br>
            {% if recipes|length > 0 %}
                <div class="row">
                    {% for recipe in recipes %}
                        <div class="col s12 m6">
                            <a class="grey-text text-darken-4" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                <div class="card my-medium">
                                    <div class="card-image">
                                        <img src="{{ url_for('static', filename='images/'+recipe.inputFile) }}" alt="{{recipe.recipe_name}}">
                                        <span class="card-title card-category">{{recipe.category_name}}</span>
                                    </div>
                                    <div class="card-content">
                                        <h6>{{ recipe.recipe_name }}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %} 
                </div>
            {% else %}
                
                <div class="row">
                    <div class="col s12 m8 offset-m2">
                        <div class="card small">
                            <div class="card-content white-text">
                                <span class="card-title">Card Title</span>
                                <h4 class="header center red-text text-darken-2">No Results Found</h4> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %} 
        </div>
    </section>

    {% endblock %}