    {% extends "base.html" %}
    {% block content %}
    <section>
        <div class="container">
            <h3 class="header center orange-text">My recipe suggestion</h3>
            <br>
            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('suggest_recipe') }}">
                    <div class="card-panel">
                        <!-- Recipe name -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-bread-slice prefix grey-text text-darken-2"></i>
                                <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="60" class="validate" required>
                                <label for="recipe_name">Recipe name</label>
                            </div>
                        </div>
                        <!-- time -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-bread-slice prefix grey-text text-darken-2"></i>
                                <input id="cooking_time" name="cooking_time" type="text" minlength="5" maxlength="60" class="validate" required>
                                <label for="cooking_time">cooking time</label>
                            </div>
                        </div>
                        <!-- categories -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-bread-slice prefix grey-text text-darken-2"></i>
                                <input id="category_name" name="category_name" type="text" minlength="5" maxlength="60" class="validate" required>
                                <label for="category_name">Category</label>
                            </div>
                        </div>
                        <!-- Ingredients -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-plus prefix grey-text text-darken-2"></i>
                                <input id="ingredient" name="ingredient" type="text" class="validate"
                                    required>
                                <label for="ingredient">Ingredient</label>
                            </div>
                        </div>
                        <!-- preparation -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-plus prefix grey-text text-darken-2"></i>
                                <input id="step1" name="step1" type="text" class="validate"
                                    required>
                                <label for="step1">Step1</label>
                            </div>
                        </div>
                        <!-- Suggest -->
                        <div class="row">
                            <button type="submit" class="col s5 btn-large orange darken-3">
                                Suggest <i class="fas fa-paper-plane"></i>
                            </button>
                            <a href="{{ url_for('index') }}" class="col s5 offset-s2 btn-large black-text grey lighten-2">
                                Cancel <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}